<div id="signin">
  <h2>You can use these accounts to sign in</h2>

  <%= render "shared/providers_list" %>

  <p>Don't have any of these accounts? Get your <%= link_to "MyOpenID", "http://www.myopenid.com/" %> or <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %></p>
</div>
