<div id="signin">
  <h2><%= t 'help.select_sign_in_account' %></h2>

  <%= render "shared/providers_list" %>

  <p><%= t('help.dont_have_sign_in_account', :myopenid => link_to("MyOpenID", "http://www.myopenid.com/").html_safe, :googleid => link_to("GoogleID", "http://mail.google.com/mail/signup").html_safe).html_safe %></p>
</div>
