<% if comment %>
  <div id="comments">
    <p class="commenter"><%= comment.user_id %></p>
    <p class="comment-updated_at"><%= l comment.updated_at, :format => :comments %>
    <p class="comment-body"><%= comment.body %></p>
  </div>
<% end %>
