<header>
  <h1><%= t 'title.unapproved_events' %></h1>
</header>

<% for event in @events %>
  <%= link_to t('misc.approve'), approve_event_path(event) %><br />
  <%= render event %>
  <br />
<% end %>