/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require_tree .
*/
@import "themes/night";

body { margin: 0; padding: 0; background-color: $body-backcolor; color: $font-color; font-family: $font-family; font-size: $font-size; }
a { color: $link-color; }
a:hover { color: $link-hover-color; }

ul, li { margin: 0; padding: 0; }

#signin li { display: inline; }
#providers_list { list-style: none; padding: 0; }
