/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require jquery-ui-1.8.16.custom
 *= require jquery-ui-timepicker-addon
 *= require_tree .
*/

@import "themes/happen" ;

@mixin small_button {
  padding: 3px 3px; font-size: 9px;
}

.button_small_red {
  @include small_button;
  color: $header-signout-color; background-color: $header-signout-backcolor;
}

body { margin: 0; padding: 0; background-color: $body-backcolor; color: $font-color; font-family: $font-family; font-size: $font-size; }
a { color: $link-color; }
a:hover { color: $link-hover-color; }

ul, li { margin: 0; padding: 0; }
aside ul { list-style: none; }
aside a { text-decoration: none; }
aside h2 { font-size: 15px; }

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#providers_list { list-style: none; padding: 0; }

#content_wrapper {  
  border-top: 1px solid #FFFFFF;
    position: relative;
}
#wrapper { 
  width: $wrapper-width; 
  margin: 0 auto;
  position: relative; 
}
#wrapper aside { 
  border-left: 1px solid #A5A5A5;
    display: block;
    float: right;
    padding: 0 25px 0 50px;
    position: relative;
    width: 200px;
    z-index: 250;
}
#content { 
    display: block;
    float: left;
    margin-top: -2px;
    min-height: 300px;
    padding-left: 180px;
    position: relative;
    width: 800px;
    z-index: 160;
}
#user_nav ul li { display: inline; }

#signin li { display: inline; }
#signin { @include small_button; color: $header-signin-color; background-color: $header-signin-backcolor; }
#signout { @extend #signin; color: $header-signout-color; background-color: $header-signout-backcolor; }

#mylinks a, #requests a, #adminlinks a { font-size: $aside-link-font-size; }

.request_count { 
  padding: 2px;
  background-color: $aside-requestcount-backcolor;
  color: $aside-requestcount-color;
  font-size: $aside-requestcount-font-size;
}

#page_header {
  background: url("/assets/header_bg.png");
  background-repeat: repeat-x;
  color: $header-font-color;
  width: 100%;
  float:left;
  position: relative;
  height: 108px;
  border-bottom: 1px solid #a5a5a5;
  display: block;
}

#page_header .top_group {
  width: $wrapper-width;
  overflow: auto;
  height: 108px;
  position: relative;
}

#page_header .bottom_group {
  overflow: auto;
  background-color: $header-bottomgroup-backcolor;
  position: relative;
}

#page_header h1 {
  margin-left: 25px;
  float: left;
}
#search-box {
  float: right;
  margin: 55px 0 0 200px;
  width: 250px;
}
#search-box .search-box {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 2px 2px 2px #DDD inset;
    -moz-box-shadow: 2px 2px 2px #DDD inset;
    box-shadow: 2px 2px 2px #DDD inset;
    border: 1px solid #CCC;
    color: #323231;
    height: 24px;
    padding-left: 5px;
    vertical-align: top;
    width: 210px
    }
#search-box img {
  border: medium none;
  margin-left: -25px;
  margin-top: 4px;
}
.submit {
  background: url(/assets/search.png) no-repeat;
  border: medium none;
  margin-left: -25px;
  margin-top: 4px;
}
.recent_events {
  float: left;
  margin: 63px 0 0 200px;
  color: $font-color;
}
#logo {
    border: medium none;
    float: left;
    height: 32px;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
    position: relative;
    z-index: 100;
}
#logo img {
    border: none;
    position: relative;
    width: 59px;
}
#user_nav {
  margin: 6px 10px 0 0;
  float: right;
}

#user_nav a {
  color: $header-usernav-link-color;
  text-decoration: none;
}

#user_nav a:hover {
  color: $header-usernav-link-hover-color;
  text-decoration: none;
}

#page_header nav ul {
  list-style: none;
  width: 150px;
}
#page_nav {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  background: none repeat scroll 0 0 #000;
  display: none;
  width: 120px;
  margin-top: -70px;
  padding: 20px 8px 20px 0;
  position: relative;
  z-index: 99;
  float: left;
}
#page_nav ul li a {
  color: $header-pagenav-link-color;
  display: block;
  text-decoration: none;
  padding: 8px 25px;
}

#page_nav ul li a:hover {
  color: $header-pagenav-link-color;
}
#categories li {
  list-style: none;
  display: inline;
  padding: 5px;
}
.event-categories { display: inline; font-style: italic; }
.showtime_fields { display: inline; }
.start_time {}
.end_time { margin-left: 250px; margin-top: -53px ;}
.remove_showtime { margin-left: 500px; margin-top: -35px; }
.to-until { padding-left: 8px; }
#location { margin-top: 30px; }
#publishing-time { margin-top: 30px; }

.category_image { width: 320px; }
/* helpers */

.italic {
   font-style: italic;
}
/* tags */
.nube1 { font-size: 0.61em }
.nube2 { font-size: 0.8em }
.nube3 { font-size: 0.95em }
.nube4 { font-size: 1.107em }
.nube5 { font-size: 1.39em }
