/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require jquery-ui-1.8.16.custom
 *= require jquery-ui-timepicker-addon
 *= require_tree .
*/

@import "themes/happen" ;

@mixin small_button {
  padding: 3px 3px; font-size: 9px;
}

.button_small_red {
  @include small_button;
  color: $header-signout-color; background-color: $header-signout-backcolor;
}

body { margin: 0; padding: 0; color: $font-color; font-family: $font-family; font-size: $font-size; }

a { color: $link-color; }
a:hover { color: $link-hover-color; }

ul, li { margin: 0; padding: 0; }
aside ul { list-style: none; margin-left: 10px }
aside ul li { margin-bottom: 3px; }
aside a { text-decoration: none; }
aside h2 { font-size: 15px; }

body {
  background-color: $body-backcolor;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#providers_list { list-style: none; padding: 0; }

#wrapper { 
  width: $wrapper-width; 
  margin: 0 auto;
}

#wrapper aside { 
  float: right;
  width: $aside-width;
}

#content {
  float: left;
  margin-right: $content-margin;
  width: $content-width;
}

#page_footer {
  clear: both;
}

#user_nav ul li { display: inline; }

#signin li { display: inline; }
#signin { @include small_button; color: $header-signin-color; background-color: $header-signin-backcolor; }
#signout { @extend #signin; color: $header-signout-color; background-color: $header-signout-backcolor; }

#mylinks a, #requests a, #adminlinks a { font-size: $aside-link-font-size; }

.request_count {
  padding: 2px;
  background-color: $aside-requestcount-backcolor;
  color: $aside-requestcount-color;
  font-size: $aside-requestcount-font-size;
}

#header_wrapper {
  width: 100%;
  min-width: $wrapper-width;
  background: url(/assets/header_bg2.png) top left repeat-x;
  z-index: 200;
}

#header_wrapper, #page_header {
  height: 98px;
}

#page_header {
  height: 95px;
  color: $header-font-color;
  width: $wrapper-width;
  margin: 0 auto;
}

#page_header .top_group {
  width: $wrapper-width;
  overflow: auto;
  height: 108px;
  position: relative;
  margin: 0 auto;
}

#page_header .bottom_group {
  overflow: auto;
  background-color: $header-bottomgroup-backcolor;
  position: relative;
}

#page_header h1 {
  margin-left: 25px;
  float: left;
}
#search-box {
  float: right;
  width: 223px;
  position: absolute;
  top: 50px;
  right: 0;
}

#search-box .search-box {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 2px 2px 2px #DDD inset;
    -moz-box-shadow: 2px 2px 2px #DDD inset;
    box-shadow: 2px 2px 2px #DDD inset;
    border: 1px solid #CCC;
    color: #323231;
    height: 24px;
    padding-left: 5px;
    vertical-align: top;
    width: 210px
    }
#search-box img {
  border: medium none;
  margin-left: -25px;
  margin-top: 4px;
}
.submit {
  background: url(/assets/search.png) 0 0 no-repeat;
  border: medium none;
  margin-left: -25px;
  margin-top: 4px;
  height: 19px;
  width: 15px;
}
#new_event {
	float: left;
	width: 700px;
}
#categories, #showtimes, #location, #publishing-time, #event_submit {
	float: left;
	width: 700px;
	margin: 5px 0;
}
#event_main_info {
	float:left;
	width: 450px;
}
	#event_main_info input, #event_main_info textarea {
		float: left;
		width: 300px !important;
	}
	#event_main_info input, #event_main_info label, #event_main_info textarea {
		margin-bottom: 5px;
	}
#event-image {
	float: right;
	width: 220px;
}
#new_event label {
	float: left;
  margin: 3px 10px 0 0;
  text-align: right;
  width: 120px;
}
#new_event input {
	float: left;
	width: 160px;
}
#location p {
	float: left;
	width: 700px;
	margin: 5px 0;
}
.start_time, .end_time {
	float: left;
	width: 300px;
	margin: 5px 0;
}
.add_showtime {
	float: left;
  margin: 0 0 10px 130px;
  width: 700px;
}
.remove_showtime {
	float: left;
  margin: 8px 0 0 10px;
}
.to-until {
	margin: 0 30px;
}
#event_new_cancel {
	float: left;
  margin-left: 320px;
  margin-top: -25px;
}
#event_submit {
	margin-left: 130px;
	float: left;
}
#logo {
  border: medium none;
  float: left;
  height: 32px;
  margin: 0 0 0 0;
  position: relative;
  z-index: 100;
}
#logo img {
  border: none;
  position: relative;
  width: 59px;
}
#user_nav {
  margin: 6px 10px 0 0;
  float: right;
}

#user_nav a {
  color: $header-usernav-link-color;
  text-decoration: none;
}

#user_nav a:hover {
  color: $header-usernav-link-hover-color;
  text-decoration: none;
}

#page_header nav ul {
  list-style: none;
  width: 150px;
}
#page_nav {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  background: none repeat scroll 0 0 #000;
  display: none;
  width: 120px;
  margin-top: -70px;
  padding: 20px 8px 20px 0;
  position: absolute;
  z-index: 99;
  float: left;
}
#page_nav ul li a {
  color: $header-pagenav-link-color;
  display: block;
  text-decoration: none;
  padding: 8px 25px;
}

#page_nav ul li a:hover {
  color: $header-pagenav-link-color;
}
#categories li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}
#event-info h1 { margin: 0; padding: 20px 0 0;}
.event-category_list { display: inline; font-style: italic; font-size: 8pt; }
.event { margin: 0; padding: 0; }

/* helpers */

.italic {
   font-style: italic;
}
/* tags */
.nube1 { font-size: 0.61em }
.nube2 { font-size: 0.8em }
.nube3 { font-size: 0.95em }
.nube4 { font-size: 1.107em }
.nube5 { font-size: 1.39em }
