// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showtime_fields {}
.start_time {}
.end_time {}
.remove_showtime {}

.event_list_entry { padding: 12px; }
.event_list_entry.even { background-color: #F5F5F5 }
.event_list_entry.odd { background-color: #E6E6E6; }

.event_image { width: 100px; height: 100px; float: left; }
.event_info { float: right; margin-left: 12px; width: 598px }
.event_info h1 { margin-top: 0; margin-bottom: 2px }
.event_category_list { font-size: 10px; margin-bottom: 0; }
.event_showtime { font-size: 9px; color: #757575 }