// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.galleries { padding: 0 !important; margin-bottom: 30px; }
.gallery_row { padding: 0 !important; margin-top: 25px; }
.gallery { float: left; margin-left: 45px; clear: none !important; width: 200px; height: 218px; padding: 0 !important; text-align: center; }
.gallery:first-child { margin-left: 0; }

