/* Layout */
$wrapper-width: 960px; /* 960px */
$aside-width: 200px;
$content-margin: 25px;
$content-width: $wrapper-width - $aside-width - $content-margin;

/* Colors */
$body-backcolor: #ececec;
$font-color: #323231;
$link-color: #0584AB;
$link-hover-color: #009CCC;

$header-background-color: #000;
$header-font-color: #fff;
$header-bottomgroup-backcolor: #313131;
$header-usernav-link-color: #fff;
$header-usernav-link-hover-color: #fff;
$header-pagenav-link-color: #fff;
$header-pagenav-link-hover-color: #fff;
$header-signout-backcolor: #C53104;
$header-signout-color: #fff;
$header-signin-backcolor: #56A501;
$header-signin-color: #fff;

$aside-requestcount-color: #fff;
$aside-requestcount-backcolor: #C53104;

/* Fonts */
$font-family: "Lucida Grande", "Ubuntu", Verdana;
$font-size: 14px;
$aside-link-font-size: 12px;
$aside-requestcount-font-size: 8px;
