/* Layout */
$wrapper-width: 100%; /* 960px */
$aside-width: 200px;
$content-width: 100%;

/* Colors */
$body-backcolor: #DADADA;
$font-color: #000;
$link-color: #E09731;
$link-hover-color: #000;

$header-background-color: #000;
$header-font-color: #fff;
$header-bottomgroup-backcolor: #313131;
$header-usernav-link-color: #fff;
$header-usernav-link-hover-color: #fff;
$header-pagenav-link-color: #fff;
$header-pagenav-link-hover-color: #fff;
$header-signout-backcolor: #C53104;
$header-signout-color: #fff;
$header-signin-backcolor: #56A501;
$header-signin-color: #fff;

/* Fonts */
$font-family: "Lucida Grande", "Ubuntu", Verdana;
$font-size: 14px;
